.container{
  margin: auto;
  width: 60%;
}

.main-text{
  border: 3px solid #73AD21;
  padding: 10px;
}

.social-links{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.social-links .fa{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid pink;
  margin: 40px 5px 0;
  color:pink;
  cursor: pointer;
  transition: 0.5s;
}

.social-links .fa:hover{
  background: pink;
  color: #fff;
  transform: translate(-7px);

}
